.single-card{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 20px;
    padding: 20px;
}
.single-card > div{
    width: 40%;
}
.single-card > .single-card-left{
    text-align: center;
}
.single-card > .single-card-left > img{
    width: 100%;
    height: 70%;
}